<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GENERAL_TITLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ml.festival.notchsimulator</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>GENERAL_ENABLED</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>NOTCH_SIMULATOR_TITLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ml.festival.notchsimulator</string>
			<key>key</key>
			<string>showNotch</string>
			<key>label</key>
			<string>NOTCH_SIMULATOR_NOTCH</string>
			<key>noIpad</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ml.festival.notchsimulator</string>
			<key>key</key>
			<string>showRoundedCorners</string>
			<key>label</key>
			<string>NOTCH_SIMULATOR_ROUNDED_CORNERS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>D2X_TITLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ml.festival.notchsimulator</string>
			<key>key</key>
			<string>d2xEnabled</string>
			<key>label</key>
			<string>D2X_ENABLED</string>
		</dict>
	</array>
	<key>title</key>
	<string>APP_SETTINGS</string>
</dict>
</plist>
