<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>D2X_ENABLED_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ml.festival.notchsimulator</string>
			<key>key</key>
			<string>d2xEnabled</string>
			<key>label</key>
			<string>D2X_ENABLED</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ml.festival.notchsimulator</string>
			<key>key</key>
			<string>d2xDock</string>
			<key>label</key>
			<string>D2X_DOCK</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ml.festival.notchsimulator</string>
			<key>key</key>
			<string>d2xReduceIconRows</string>
			<key>label</key>
			<string>D2X_REDUCE_ICON_ROWS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>ml.festival.notchsimulator</string>
			<key>key</key>
			<string>d2xSwitcherStyle</string>
			<key>label</key>
			<string>D2X_SWITCHER_STYLE</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>D2X_SWITCHER_STYLE_HOLD</string>
				<string>D2X_SWITCHER_STYLE_SWIPE</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ml.festival.notchsimulator</string>
			<key>key</key>
			<string>d2xDisableHomeRotation</string>
			<key>label</key>
			<string>D2X_DISABLE_HOME_ROTATION</string>
		</dict>
	</array>
	<key>title</key>
	<string>D2X_TITLE</string>
</dict>
</plist>
